h1 {
    text-align: center;
    font-size: 100px;
    font-family: Arial, sans-serif;
    color: white;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}
ul {
    list-style-type: none;
    width: 25%;
    margin-left: 75%;
    padding: 0px;
}

li {
    display: inline;
    margin-left: 7%;
}

li a {
    color: white;
    text-decoration: none;
}

input[type=text] {
    width: 50%;
    height: 20px;
    border-radius: 25px;
    border-color: gray;
    border-style: solid;
    padding: 20px 0px 20px 50px;
    box-sizing: border-box;
    margin: 0% 25% 0% 25%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    color: white;
    font-size: 18px;
}

input[type=text]:hover, input[type=text]:focus{
    background-color: rgb(65, 63, 63);
    border-color: rgb(65, 63, 63);
    outline: none;
}

head, body, input[type=text] {
    background-color: #1F1F20;
}
input[type=submit] {
    height: 40px;
    width: 12%;
    margin-left: 44%;
    color: white;
    background-color: rgb(93, 92, 92);
    border-style: solid;
}